.quick-menu a{
	flex-direction: row;
	/* display: flex;  */
	align-items: center;
	gap: 25px;

}
.img-container{
	width: 90px;
	height: 90px;
	/* border: 1px solid black; */
}
.img-container img{
	width: 80px;
}
.detail-value{
	background-color: white;
}
#reason{
	/* grid-area: 2/2; */
	/* grid-area: fill ; */
	grid-column: 1/-1;
}
#btn-container{
	grid-column: 2;
	/* border: 1px solid black; */
	padding:0 15px;
	display: flex;
	justify-content: end;
}