@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
.hidden{
  /* visibility: hidden; */
  display: none !important;
  
}
nav {
  box-shadow: 1px 0 2px rgb(239, 231, 231);
  background-color: oklch(99.107% 0.00011 271.152 / 0.529);
  backdrop-filter: blur(32px);
  display: flex;
  padding: 5px 25px;
  height: 60px;
  /* border: 1px solid black; */
  align-items: center;
  /* gap: 20%; */
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  margin-right: auto;
}
.logo {
  width: 40px;
}
.name {
  font-weight: 700;
  font-size: 18px;
}
.options {
  display: flex;
  /* text-decoration: none; */
  list-style-type: none;
  gap: 27px;
  height: 100%;
  /* border: 1px solid blue; */
}
.option {
  font-size: 14px;
  font-weight: 500;
  color: rgb(107, 106, 106);
  cursor: pointer;
  transition: 0.2s ease all;
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect-section {
  display: flex;
  margin-left: auto;
  gap: 20px;
  align-items: center;
  /* border: 2px solid blue; */
}

.option:hover {
  color: rgb(39, 36, 36);
}
@media (max-width: 768px) {
  .options {
    display: none;
  }
  .logo {
    width: 25px;
  }
  .name {
    font-size: 15px;
  }
  .redirect-section {
    gap: 5px;
  }
}
.option a {
  text-decoration: none;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(107, 106, 106);
}
.option a:hover {
  color: rgb(39, 36, 36);
  transition: 0.2s ease all;
}
.profile{
  width: 30px;
  cursor: pointer;
}
.notification{
  cursor: pointer;
  opacity: 0.8;
  width: 25px;
  /* border: 1px solid black; */
  border-radius: 50%;
  
}
.notification-container{
  transition: 0.2s ease all;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.notification-container:hover{
  background-color: rgb(234, 229, 229);

}
.detail-value{
	  color: rgb(97, 95, 95);
border: 2px solid rgb(231, 225, 225);
/* box-shadow: 1px 1px 5px rgb(172, 166, 166); */
height: 50px;
/* justify-content: center; */
align-items: center;
display: flex;
padding-left: 20px;
border-radius: 8px;
font-weight: 500;
/* background-color: white; */
}
.details-grid{
	display: grid;
	width: 100%;
	font-weight: 500;
  /* font-size: 15px; */
	gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.detail{
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.page-details {
  
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(254, 247, 247);
  box-shadow: 1px 1px 5px rgb(195, 193, 193);
  transition: 0.2s ease all;
  border-radius: 15px;
  padding: 15px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;

}
.page-details:hover{
	transform: translateY(-4px);
	/* border: 1px solid blue; */
	box-shadow: 1px 1px 5px rgb(130, 130, 229);
}
.quick-menu {
  /* width: minmax(200px,300px); */
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.table-headings{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0px,1fr));
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  /* justify-content: space-between; */
  margin-top: 2rem;
  font-weight: 500;
  background-color: rgb(254, 247, 247);
  height: 35px;
  padding: 0 15px;
  font-size: 15px;
    /* box-shadow: 0px 1px 3px rgb(195, 193, 193); */
border-radius: 3px;
min-width: 760px;

}

.table-datas{
 display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0px,1fr));
  align-items: center;
  /* justify-content: space-between; */
  /* margin-top: 2rem; */
  font-weight: 500;
  /* background-color: rgb(254, 247, 247); */
  height: 45px;
  padding: 0 15px;
  font-size: 15px;
    /* box-shadow: 0px 1px 3px rgb(195, 193, 193); */
/* border-radius: 2px; */
min-width: 760px;
color: rgb(101, 100, 100);
font-weight: 400;
/* justify-items: center; */
font-size: 14px;
/* box-shadow: 0px 0.8px 1px rgb(215, 213, 213); */
border-bottom: 1.7px solid rgb(234, 229, 229);

/* border: 1px solid black; */
}
.table-data{
  padding-left: 5px;
}

.table{
  margin-top: 2rem;
  overflow-x: auto;
}
.option{
  position: relative;

}
.option::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: rgb(62, 62, 195);
  bottom: 0;
  left: 0;
  transition: 0.2s ease-in all;
}
.option:hover::before{
  width: 100%;
}
.page{
  padding: 30px 5%;
}
.block{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status img{
  width: 20px;
}
.status{
  font-size: 14px;
  color:  white;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 120px;
  background-color: rgb(17, 172, 17);
  border-radius: 5px;
  position: fixed;
  /* top: 100; */
  top: 2%;
  height: 35px;
  justify-content: center;
  gap: 10px;
  left: 50%;
  z-index: 1;
  transition: 0.2s ease-in-out all;
  opacity: 0;
}
.status-active{
  transform: translate(-50%);
  opacity: 1;

}











