#profile-details {
  padding: 30px 5%;
  /* display: flex; */
  /* flex-direction: column;
	align-items: center; */
  /* justify-content: center; */
}


.img-container {
  width: 110px;
  /* border: 1px solid black; */
  height: 110px;
  border-radius: 50%;
  /* background-color: red; */
  background: url("../assests/images/female.jpg");
  /* box-shadow: 1px 1px 10px rgb(0, 0, 0); */

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
.quick-menu a {
  flex-direction: row;
  gap: 40px;
  /* justify-content: center; */
  align-items: center;
}
.details-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-last {
  display: flex;
  gap: 15px;
}
.profile-id,
.profile-department {
  display: flex;
  gap: 5px;
}
.details-block {
  color: rgb(97, 95, 95);
  font-weight: 500;
}
.profile-heading {
  color: black;
}

.details-grid{
	display: grid;
	width: 100%;
	font-weight: 500;
	gap: 10px;
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

#edit-profile-btn{
	width: 100px;
	height: 30px;
	background-color: rgb(61, 46, 176);
	border: none;
	border-radius: 5px;
	margin-left: auto;
	display: block;
	color: white;
	font-weight: 500;
	margin-right: 5px;
	cursor: pointer;
}
#edit-profile-btn:hover{
		background-color: rgb(42, 30, 132);

}
@media (max-width:545px) {
  .profile-last{
    flex-direction: column;
    gap: 4px;
  }
  .img-container{
    width: 90px;
    height: 90px;
  }
  .details-block{
    gap: 5px;
    font-size: 14px;
  }
  .details-block h2{
    font-size: 16px;
  }
  .quick-menu a{
    gap: 15px;
  }
.details-grid{
  grid-template-columns: 1fr;
}

  
}
